* {
  font-family: Helvetica, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
}

.text-center {
  text-align: center;
}

.circle-container {
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
}

.circle-text {
  margin-top: 12px;
}

.status-tag {
  float: right;
  margin-top: 12px;
  font-size: 30px;
}

.status-tag:hover {
  cursor: pointer;
}

.status-tag.red {
  background-color: inherit;;
  color: #FF0000;
}

.status-tag.green {
  background-color: inherit;;
  color: #33CC33;
}

.status-container {
  margin-left: 12px;
  margin-right: 12px;
}

.status-container:hover {
  background-color: #F3F3F3;
}

.expand {
  display: none;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #000000;
}

.red {
  background-color: #EC000A;
}

.forest-green {
  background-color: #008000;
}

.neon-green {
  background-color: #6DDB3D;
}

.purple {
  background-color: #800080;
}

.blue {
  background-color: #0032FF;
}

.orange {
  background-color: #FF5900;
}

.brown {
  background-color: #7A5001;
}

.gray {
  background-color: #999999;
}

.yellow {
  background-color: #FFD900;
}
